.container-card {
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
  align-self: center;
}
a {
  color: inherit;
  text-decoration: none;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  max-width: 100%;
  width: 100%;
  padding: 0.2rem;
  overflow: hidden;
  gap: 0.5rem;
  transition: all 0.2s linear;
  cursor: pointer;
}
.card-content section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  gap: 0.3rem;
}

.card-content section h2 {
  color: var(--third-color);
  max-width: 90%;
  font-size: 1rem;
  text-align: center;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content section img {
  max-width: 70%;
  border-radius: 1rem;
  color: var(--second-color);
  text-align: center;
}


.card-content p {
  color: var(--second-color);
  max-width: 90%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 1rem;
  text-overflow: ellipsis;
}

.card-content:hover{
  transform: scale(1.05)
}

.card-content h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--forty-color);
  transition: all 0.2s linear;
}
.card-content:hover h2::after {
  width: 100%;
}
