:root {
  --primary-color :#121212;
  --second-color: #fefefe ;
  --third-color : #fa4465;
  --forty-color: #616636;
  --fifty-color: #BE543D;
  --sixty-color: #BEAC91;
}
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

